{% extends "LOUVREAppBundle::layout.html.twig" %}

{% block title %} {{ parent() }} - Commande {% endblock %}

{% block stylesheets %} {{ parent() }} {% endblock %}

{% block body %}
    <div class="container">

        {{ form_start(formC) }}
        {{ form_errors(formC) }}
            <div class="row">
                <div class="col-sm-8 col-md-6 inputs-area">
                    <div class="row form-inline input-formC">
                        {{ form_label(formC.bookingDay, "Date de réservation :", {'label_attr': {'class': 'control-label col-sm-6'}}) }}
                        {{ form_errors(formC.bookingDay) }}

                        {{ form_widget(formC.bookingDay, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="row form-inline input-formC">
                        {{ form_label(formC.ticketType, "Type de billet :", {'label_attr': {'class': 'control-label col-sm-6'}}) }}
                        {{ form_errors(formC.ticketType) }}

                        {{ form_widget(formC.ticketType, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="row form-inline input-formC">
                        {{ form_label(formC.quantity, "Nombre de billets :", {'label_attr': {'class': 'control-label col-sm-6'}}) }}
                        {{ form_errors(formC.quantity) }}

                        {{ form_widget(formC.quantity, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="row form-inline input-formC">
                        {{ form_label(formC.email, "Email :", {'label_attr': {'class': 'control-label col-sm-6'}}) }}
                        {{ form_errors(formC.email) }}

                        {{ form_widget(formC.email, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            <div class="row">
                {{ form_widget(formC.save, {'attr': {'class': 'col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-2 btn btn-primary'}}) }}
            </div>
        {{ form_rest(formC) }}
        {{ form_end(formC) }}

    </div>
{% endblock %}

{% block javascripts %} {{ parent() }} {% endblock %}