{% extends "LOUVREAppBundle::layout.html.twig" %}

{% block title %} {{ parent() }} - Commande {% endblock %}

{% block stylesheets %} {{ parent() }} {% endblock %}

{% block body %}
    <div class="container">

        {{ form_start(formC) }}
        {{ form_errors(formC) }}

            {% for ticket in formC.tickets %}

                {{ form_widget(formC) }}

            {% endfor %}

        {{ form_rest(formC) }}
        {{ form_end(formC) }}
    </div>
{% endblock %}

{% block javascripts %} {{ parent() }} {% endblock %}