{% extends "LOUVREAppBundle::layout.html.twig" %}

{% block title %} {{ parent() }} - Récapitulatif {% endblock %}

{% block stylesheets %} {{ parent() }} {% endblock %}

{% block body %}
    <div class="container">

        <div class="row" id="summary-title">
            <h2 class="text-center">Votre commande</h2>
        </div>

        <div class="row">
            <div class="col-md-offset-2 col-md-8" id="summary">
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th id="table-head">Commande N° {{ command.bookingCode }}</th>
                    </tr>
                    </thead>
                    <tbody id="table-body">
                    {% for ticket in listTickets %}
                        <tr>
                            <td><span class="bold">{{ ticket.ticketname }}</span> {{ ticket.lastname }} {{ ticket.firstname }}</td>
                            <td class="text-center"> {{ ticket.price }} € <span class="ttc">TTC</span></td>
                        </tr>
                    {% endfor %}

                    <tr>
                        <td class="text-right bold">Total</td>
                        <td class="text-center bold"> {{ command.totalprice }} € <span class="ttc">TTC</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div id="summary-buttons">
            <div class="row">
                <div class="col-xs-12 col-md-offset-4 col-md-4 payment-button">
                    <a href="{{ path('louvre_paypal_payment_prepare', {'bookingCode': command.bookingCode}) }}" class="btn btn-primary btn-block text-center">PAYPAL</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-offset-4 col-md-4 payment-button">
                    <a href="{{ path('louvre_stripe_payment_prepare', {'bookingCode': command.bookingCode}) }}" class="btn btn-primary btn-block text-center">CARTE BANCAIRE</a>
                </div>
            </div>
        </div>

        <div class="row col-xs-12 col-sm-offset-3 col-sm-6 message-flash">
            {% for message in app.session.flashbag.get('info') %}
                <div class="alert alert-danger text-center">{{ message }}</div>
            {% endfor %}
        </div>

    </div>
{% endblock %}

{% block javascripts %} {{ parent() }} {% endblock %}